<h1>Cats Index</h1>

<%if @agency%>
  <h4>Cats at <%=@agency.name%></h4>
  <%else%>
  <h4>All Cats</h4>
  <%end%>

  <% @cats.each do |c| %>
  <ul>
      <%=link_to c.name, agency_cat_path(c.agency, c)%> -
      <%=link_to c.agency.name, agency_path(c.agency)%> -
      <%=c.agency.state%>
      </ul>
  <%end%>
