<h1>All Cats</h1>

  <% @cats.each do |c| %>
  <ul>
      <%= link_to c.name, cat_path(c) %> -
      <%=link_to c.agency.name, agency_path(c.agency)%> -
      <%=c.agency.state%>
      </ul>
  <%end%>
