<% if @cat.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@cat.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>

    <ul>
    <% @cat.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<h1>Add a new cat!</h1>
<%= render 'form'%>
